<?xml version="1.0"?>

<launch>
  
  <node pkg="vigir_filtered_localized_scan_utils" type="scan_to_clouds_pub_node" name="scan_to_clouds_pub_node" output="screen">
    <remap from="~/scan" to="/move_group/scan_filtered_localized"/>
    <remap from="~/cloud_out" to="/scan_cloud"/>
    <remap from="~/cloud_self_filtered_out" to="/scan_cloud_filtered"/>
  </node>
  
</launch>
