<?xml version="1.0"?>

<launch>
  
  <!--  <node pkg="vigir_worldmodel_main" type="worldmodel_main" name="worldmodel_main" output="screen" launch-prefix="gdb -ex run iiargs">-->
  <node pkg="vigir_worldmodel_server" type="worldmodel_server_node" name="worldmodel_main" output="screen" respawn="true">
    <!--<remap from="scan_cloud" to="scan_cloud_filtered"/>-->
    <param name="aggregator_frames" value="/world" />
    <param name="root_frame" value="/world" />

    <!--Will only start worldmodel when tf transforms between these and root are available-->
    <param name="required_frames" value="/l_hand /r_hand" />

    <param name="octomap_save_folder" value="$(find vigir_worldmodel_server)/maps" />
    <param name="use_external_octomap" value="false" />
    <param name="publish_frames_as_poses" value="false" />
    
    <remap from="~/octomap_external_update" to="/move_group/octomap"/>
  </node>
  
  <node pkg="vigir_filtered_localized_scan_utils" type="scan_to_clouds_pub_node" name="ocs_scan_to_clouds_pub_node" output="screen">
    <remap from="~/scan" to="/move_group/scan_filtered_localized"/>
    <remap from="~/cloud_out" to="/scan_cloud"/>
    <remap from="~/cloud_self_filtered_out" to="/scan_cloud_filtered"/>
    <param name="scan_sub_queue_size" value="1200"/>
    <param name="fill_in_intensity_if_not_available" value="true"/>   
  </node>
  
</launch>
